#contact-media{
    display: flex;
    width: 70px;
    height: 70px;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0 30px 30px 0;
    border-radius: 100px;
}

#contact-media:hover{
    height: 300px;
    background-color: #ffffff00 !important; 
    .circle-media:nth-child(n+2), #circle-mail, #circle-call {
        display: flex;
        opacity: 1 !important;
        width: 70px;
        height: 70px;
    }
}

#contact-media #split-contacts {
    display: flex;
    width: 70px;
    height: 70px;
    position: fixed;
    background-color: #474747f6;
    bottom: 0;
    right: 0;
    margin: 0 30px 30px 0;
    border-radius: 100px;
    background-image: url(/assets/img/device-mobile-message.svg);
    background-repeat: no-repeat;
    background-position: center;   
    background-size: 33px;
    transition: 0.5s all;
}

.circle-media:nth-child(n+2){
    display: none;
    width: 0px;
    height: 0px;
    position: fixed;
    background-color: #1bc4b8f6;
    bottom: 0;
    right: 0;
    margin: 0 30px 110px 0;
    border-radius: 100px;
    padding: 20px 0;
    opacity: 0 !important;
    transition: 0.3s all;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;   
    background-size: 33px;
    border: 2px solid rgba(255, 255, 255, 0.434);
}

#contact-media #circle-wp{
    background-color: #25D366;
    background-image: url(/assets/img/brand-whatsapp.svg);

}

#contact-media #circle-mail{
    display: none;
    width: 0px;
    height: 70px;
    position: fixed;
    background-color: #D44638;
    bottom: 0;
    right: 0;
    margin: 0 30px 190px 0;
    border-radius: 100px;
    transition: 0.4s all !important;
    background-image: url(/assets/img/mail.svg);

}

#contact-media #circle-call{
    display: none;
    width: 0px;
    height: 70px;
    position: fixed;
    background-color: #285ccd;
    bottom: 0;
    right: 0;
    margin: 0 30px 270px 0;
    border-radius: 100px;
    transition: 0.6s all !important;
    background-image: url(/assets/img/phone-call.svg);
}

#contact-media a{
    display: block;
    background: rgba(255, 255, 255, 0);
    width: 100%;
    height: 70px;
    border-radius: 100px;
}

#contact-media:hover{
    cursor: pointer;
    transition: 0.5s all;
    #split-contacts{
        background-color:#666666f6;
    }
}


@media (max-width:900px) {
    .circle-media{
        width: 60px;
        height: 60px;
        max-width: 65px;
        max-height: 65px;
    }
}