#rc-form {
    display: flex;
    width: 100%;
    height: fit-content;
    align-items: center;
    padding-top: 80px;
    flex-direction: column;
    backdrop-filter: blur(11px);
    gap: 20px;
}

p {
    font-size: 18px;
    width: 100%;
    margin-top: 40px;
    color: rgba(0, 0, 0, 0.779);
    text-align: center;
    padding-top: 15px;
}

h1 {
    width: 100%;
    padding-top: 65px;
    background-color: #2764E8;
    display: grid;
    font-size: 33px;
    place-content: center;
    padding-bottom: 22px;
    color: white;
}

#foot-divs,
footer {
    margin-top: 0 !important;
}

/* Estilos para el formulario */
#rh-form {
    width: 90%;
    max-width: 700px;
    margin: 0 auto;
    /* background-color: #f7f7f7; */
    padding: 30px;
    border-radius: 4px;
    margin: 15px auto;
    margin-bottom: 100px;
    border: 1px solid #0062ff;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #1a6eff;
    ;
    font-weight: 200;
}

.form-control {
    width: 100%;
    height: 40px;
    padding: 10px;
    padding-left: 0px;
    font-size: 14px;
    border: 1px solid #fff;
    border-bottom: 1px solid #3f6eff70;
    border-radius: 4px;
    outline: none;
    color: #6f6f6f;
    background-color: white !important;
}

select.form-control {
    height: 40px;
}

input[type="file"] {
    display: block;
    margin-top: 5px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-primary {
    background: #084cdf;
    margin-left: 2px;
    color: #fff;
    border: none;
    width: 100%;
    padding: 17px 0px;
    transition: 0.5s all ease;
    font-size: 16px;
    font-weight: 600;
}

/* Estilos adicionales */
.error-message {
    color: #ff0000;
    font-size: 12px;
    margin-top: 5px;
}


#file-input {
    width: 350px;
    max-width: 100%;
    color: #444;
    padding: 2px;
    background: #fff;
    border-radius: 11px;
    border: 1px solid rgba(255, 255, 255, 0.288);
}

#file-input::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #084cdf;
    padding: 15px 20px;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    margin: 5px 10px 5px 0;
    transition: 0.5s all ease;
}

#file-input::file-selector-button:hover,
.btn-primary:hover {
    background: #1a6eff;
}

.empty-file-input {
    background-color: #ff0000 !important;
}

@media screen and (max-width: 1000px) {
    h1 {

        padding-top: 45px;
    }
}

@media screen and (max-width: 675px) {
    p {
        width: 85%;
        font-size: 15px;
    }
}

@media screen and (max-width: 390px) {
    label {
        font-size: 13px;
    }
}