header {
    top: 0;
}

#welcome-us {
    display: flex;
    flex-direction: row;
    height: 628px;
    background-image: url(/assets/img/bg/2.svg);
    background-size: cover;
    width: 100%;
    margin: 0 auto;
    margin-top: 125px;
    align-items: center;
    justify-content: center;
}

#discover {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    padding: 0 70px;
}

#prf {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
}

#prf span {
    color: rgb(255, 0, 0);
    font-weight: bolder;
}

#welcome-us h1 {
    width: 100%;
    font-size: 50px;
    color: #206bba;
    line-height: 1.7;
    margin-bottom: 10px;
}

#welcome-us img {
    width: 50%;
    border-radius: 25px;
}

#history {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
    margin-top: 20px;

    height: fit-content;
    padding: 50px 125px;
}

#history h2,
#ambiental h2 {
    color: #206bba;
    border-bottom: 2px red solid;
    width: fit-content;
    padding: 15px 0px 15px 0;
    text-align: start;
    font-size: 29px;
    width: 40%;
    text-align: center;
    margin: 0 auto;
}

#history p {
    color: black;
    padding: 0 30px;
    line-height: 1.8;
}

#vmvl {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    padding: 50px 150px;
    gap: 150px;
}

.term-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    gap: 20px;
}

.term-container img {
    width: 44%;
    margin: 0 auto;
    border-radius: 10px;
}

.term-container h3 {
    font-size: 25px;
    color: #206bba;
}

.tt-cnt {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 5px;
    line-height: 1.8;
    text-align: justify;
    padding: 5px;
}

#ambiental {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    justify-content: center;
    padding: 50px 100px;
    gap: 30px;
    line-height: 1.8;
    text-align: center;
    margin-top: 100px;
    background-color: #3b4957;
    color: white;
}

#ambiental h2 {
    color: white;
}

#ambiental #how {
    display: flex;
    gap: 60px;
    width: 100%;
    height: fit-content;
}

#how {
    margin-bottom: 80px;
}

#how img {
    width: 45%;
    border-radius: 10px;
    border: 2px #206aba93 solid;
}

#how p {
    text-align: justify !important;
    margin-top: 20px;
}

footer {
    margin-top: 0;
}

@media screen and (max-width:1400px) {
    #welcome-us h1{
        font-size: 40px;
    }
}

@media screen and (max-width:1250px) {

    #welcome-us {
        display: flex;
        flex-direction: row;
        height: fit-content;
        background-image: url(/assets/img/bg/2.svg);
        background-size: cover;
        width: 100%;
        margin: 0 auto;
        margin-top: 125px;
        align-items: center;
    }

    #discover {
        width: 100%;
        flex-direction: column;
        padding: 40px 0px 80px 0;
        align-items: center !important;
        justify-content: flex-start !important;
        gap: 30px;
    }

    #prf {
        width: 100%;
        align-items: center;
        margin: 0 auto;
        gap: 20px;
    }

    #discover h1 {
        font-size: 30px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    #discover p {
        font-size: 13px;
    }

    #history {
        padding: 50px 25px;
    }

    .term-container {
        flex-direction: column;
        padding: 10px 30px
    }

    .tt-cnt {
        flex-direction: column;
        width: 100%;
        max-width: 700px;
        text-align: center;
    }

    .term-container img {
        width: 100%;
        max-width: 400px;
    }

    #vmvl p {
        text-align: center !important;
    }

    #vmvl {
        padding: 15px;
        gap: 25px;
    }

    #vision {
        flex-direction: column !important;
    }

    #history h2,
    #ambiental h2 {
        width: 90%;
    }

    #history p,
    #vmvl p,
    #ambiental p {
        padding: 0 10px;
        text-align: justify;
        line-height: 1.8;
        font-size: 13.5px;
    }

    #ambiental {
        padding-left: 5%;
        padding-right: 5%;
        text-align: justify;
        align-items: center;
    }

    #ambiental #how {
        flex-direction: column;
    }

    #ambiental #how img {
        width: 100%;
        max-width: 450px;
        margin: 0 auto;
    }

}

@media screen and (max-width:500px) {
    #discover h1 {
        font-size: 21px;
    }

    #discover p {
        font-size: 9px;
    }

    #welcome-us img {
        width: 100%;
        max-width: 274px;
    }

    #history h2, #ambiental h2 {
        width: 97%;
        font-size: 21px;
    }

    #history p, #vmvl p, #ambiental p {
        padding: 0 8px;
        font-size: 11.5px;
        text-align: justify !important;
    }

    .term-container {
        padding: 10px 0px;
    }

    .term-container h3 {
        font-size: 20px;
    }
}